<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzp.fastdevops.dao.userDao" >


    <update id="insert" parameterType="com.lzp.fastdevops.entity.User">
        insert into table users (id,userName,userEmail,password,phone)
        value (#{id},#{userName},#{userEmail},#{password},#{phone})
    </update>

    <select id="getAll" resultType="com.lzp.fastdevops.entity.User">
        SELECT * FROM users
    </select>



</mapper>